.filter-container {
    margin-top: 20px;
    width: 385px;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.filter-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d7dbdd;
    padding: 15px 15px;
}

.select-counter {
    color: gray;
}

.filter-section_bottom {
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    border-bottom: 1px solid #d7dbdd;
}

.rigth_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.filter-icon {
    font-size: 14px;
}

.filter-title {
    font-size: 14px;
}