.filter-container{
    margin-top: 20px;
    width: 385px;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid #d7dbdd;
}
.filter-top{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}
.select-counter{
    color: gray;
}