.input_filde {
    height: 48px;
    display: flex;
    padding: 0 15px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}

.right-serch Input {
    border: none;
}